# System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# BandcampSync Data
# BandcampSync Data
Sync/inbox/
Sync/logs/
Retry/logs/
BandcampSync/collection.json
collection.json
bandcamp-owned.txt
debug.html

# Generic Logs & Temp
*.log
*.sqlite
*.part
*.ytdl

# Configuration & Secrets
config/
.config/
cookies.txt

# Editor
.vscode/
.idea/
.todolist